a:link {
    color: red;
    text-decoration: none;
    background-color: thistle;
}

a:hover {
    background-color: skyblue;
    padding: 0.3rem;
    border-radius: 2rem;
}

a.link1:active {
    color: black;
}

a:visited {
    color: blanchedalmond;
}